.DS_Store
TEST.DSF
*.EXT
buildRelease.sh
TOOLS/WinAPE/CPC_Symbols.fot
TOOLS/WinUAE/kick13.rom
TOOLS/WinUAE/winuaebootlog.txt
TOOLS/WinAPE/WinAPE.ini
images/00*
images/PC/00*
images/CPC/00*
images/DAAD.*
