.DS_Store
TEST.DSF
*.EXT
buildRelease.sh
TOOLS/WinAPE/CPC_Symbols.fot
TOOLS/WinUAE/kick13.rom
TOOLS/WinUAE/winuaebootlog.txt
TOOLS/WinAPE/WinAPE.ini
images/00*
IMAGES/PC/00*
IMAGES/PC/SVGA/*
IMAGES/CPC/00*
IMAGES/ZXUNO/00*
IMAGES/DAAD.*
*~$AD Ready*
TODO.txt
RELEASE/
SOUNDS/*.WAV
SOUNDS/*.wav
SOUNDS/*.DRO
SOUNDS/*.dro
TOOLS/PCW/Config.ini
TOOLS/zesarux/zesarux_index_menu.idx

