
body {
	font-family: GraublauWeb, Verdana, arial, helvetica;
	background-image: url("background.png");
	background-size: cover;
	background-position: 50% 50%;
	color: #14143d;
}


a {
	color: cornflowerblue;
	text-decoration: none;
}

a:visited {
	color: cornflowerblue;
	text-decoration: none;
}

a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}


.screenClass /* the whole screen */
{
	padding: 5vmin; /* BORDER effect */
	width: 90vmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
}

.paperClass { /* the PAPER area */
	width: 100%;
	height: 100%; /* Expand the canvas so we always work in 320x200 but the canvas expands to fill the PAPER size */
	background-color: black;
}


.goodbye {
	position:absolute;
	left: 0;
	top:0;
	bottom:0;
	right:0;
	background-color: black;
	font-size: medium;
	padding: 20px;
	color: whitesmoke;
	z-index: 4000;
	display: none;
}

#imageBuffer 
{
	position:absolute;
	left: 0;
	top:0;
	bottom:0;
	right:0;
	display:none;
	z-index: -1;
}