

body {
	font-family: GraublauWeb, Verdana, arial, helvetica;
	background-image: radial-gradient(#0b0d5c 2px, transparent 2px), radial-gradient(#0b0d5c 2px, transparent 2px);
	background-size: 32px 32px;
	background-position: 0 0, 16px 16px;
	background-color: #070a20;
	color: white;
}


a {
	color: cornflowerblue;
	text-decoration: none;
}

a:visited {
	color: cornflowerblue;
	text-decoration: none;
}

a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}


.screenClass /* the whole screen */
{
	padding: 40px; /* BORDER effect */
	width: 720px;
	height: 480px;  /* 640x480 plus 40px margin */
	margin-right: auto;
	margin-left: auto;
	margin-top:40px;
	top: 0;
	background-color: black;
}

.paperClass { /* the PAPER area */
	width: 100%;
	height: 100%; /* Expand the canvas so we always work in 320x200 but the canvas expands to fill the PAPER size */
	background-color: black;
}

.anykey_layer {
	position:absolute;
	left: 0;
	top:0;
	bottom:0;
	right:0;
	background-color: transparent;
	z-index: 2000;
	display: none;
}

.goodbye {
	position:absolute;
	left: 0;
	top:0;
	bottom:0;
	right:0;
	background-color: black;
	color: white;
	z-index: 4000;
	display: none;

}

